<% include header %>
<% include navigatie %>
<div class="wrapper">
    <div class="blogpost">
        <% var teller = 1; %>
        <% post.forEach(function(item){ %>
        <section class="artikels">
            <h2 class="imgtext">
                <a class="titels" href=/items/<%- item.id %>><%- item.titel %></a>
            </h2>
            <a href=/items/<%- item.id %>><img class="mainimg"src="/img/<%- item.afbeelding %>" alt="<%- item.titel %>"></a>
            <p class="summary"><span>
                <%- item.samenvatting %>
            </span></p>
        </section>
        <% teller++;}); %>

    </div>
</div>

<% include footer %>
