<% include header %>
<% include navigatie.ejs %>

<div class="wrapper">
    <div class="blogpost">
<section class="artikels">

    <h2>
      <%- item.titel %>
    </h2>
    <p class="date"><%- item.datum %></p>
    <img class="biggerimg" src="/img/<%- item.afbeelding %>" alt="<%- item.titel %>">



    <div class="content">
      <%- item.body %>
    </div>

    <p class="postedin">Dit is een post over

      <% for (var i = 0; i < item.topics.length; i++) { %>
        <a class="topicref" href="/topics/<%- i %>"><%- item.topics[i] %></a><% if (i+1< item.topics.length){ %>, <% } %>
      <% } %>
    </p>
</section>
        <!--<div id="disqus_thread"></div>
        <script>

            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
             var disqus_config = function () {
             this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
             this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
             };
             */
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://www-maximvanderveken.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
    </div>
</div>

<% include footer %>
